# 20191221 Data Visualization Workshop Tutorial

## Pythonの基本的な操作方法について、手を動かしながら学んでいきましょう！

## 1. データをnotebook上で取り扱う準備をする。

## 1.1. データを読み込む

#### read_csv('ファイル名')という操作でcsvファイルを読み込むことが出来ます。
#### ただし、この操作はpandasというライブラリに入っているので、このnotebook上に読み込みます。
- pandasというライブラリを読み込むと、データを抽出したり、集計したりとデータ分析に必要な操作が可能になります。

In [1]:
# pandasを読み込んでください。pandasを使う時は、pdと略して (as) 使います。
import pandas as pd

In [2]:
# ファイルを読み込んで、読みこんだデータに対して、dfという名前をつけます。データを
df = pd.read_csv('20191221_Tutorial_data.csv')

## 1.2. データを見てみる

読み込んだデータを表示してみましょう！

In [3]:
df

        ID  Age     Sex   Address  Frequency
0        1   25    Male  Kyuusyuu          1
1        2   21  Female  Hokkaido          1
2        3   21  Female  Hokkaido          1
3        4   46  Female  Kyuusyuu          2
4        5   53    Male  Tyuugoku          4
5        6   68  Female     Tyubu          1
6        7   25    Male     Kanto          2
7        8   26  Female     Tyubu          1
8        9   33  Female  Kyuusyuu          2
9       10   46  Female  Tyuugoku          1
10      11   28  Female     Kinki          2
11      12   37  Female     Kanto          1
12      13   35    Male    Tohoku          3
13      14   69  Female     Kanto          5
14      15   26  Female    Tohoku          1
15      16   22    Male  Tyuugoku          1
16      17   27  Female    Tohoku          1
17      18   33  Female   Shikoku          1
18      19   43  Female    Tohoku          1
19      20   43  Female     Tyubu          1
20      21   28  Female     Kanto          1
21      22   21    Male     Kinki          1
22      23   21  Female     Tyubu          1
23      24   38  Female  Kyuusyuu          2
24      25   49  Female  Kyuusyuu          1
25      26   52  Female  Tyuugoku          2
26      27   25  Female     Kinki          1
27      28   46    Male   Shikoku          3
28      29   49    Male  Tyuugoku          1
29      30   24  Female     Kanto          1
...    ...  ...     ...       ...        ...
1191  1192   26  Female     Kanto          1
1192  1193   23    Male     Kanto          1
1193  1194   21  Female     Kanto          1
1194  1195   33    Male     Tyubu          3
1195  1196   42    Male    Tohoku          1
1196  1197   24  Female  Kyuusyuu          1
1197  1198   26    Male   Shikoku          1
1198  1199   34    Male     Tyubu          1
1199  1200   67  Female     Tyubu          2
1200  1201   46    Male    Tohoku          1
1201  1202   46  Female     Kinki          1
1202  1203   52  Female     Kanto          3
1203  1204   25  Female  Kyuusyuu          1
1204  1205   21  Female    Tohoku          8
1205  1206   32  Female   Shikoku          1
1206  1207   42  Female    Tohoku          5
1207  1208   42  Female  Kyuusyuu          2
1208  1209   63    Male     Tyubu          2
1209  1210   26    Male     Kanto          1
1210  1211   44  Female  Kyuusyuu          1
1211  1212   25    Male     Kanto          1
1212  1213   26    Male     Kanto          2
1213  1214   41  Female     Kanto          7
1214  1215   24    Male    Tohoku          4
1215  1216   31    Male   Shikoku          2
1216  1217   38  Female     Tyubu          1
1217  1218   35  Female  Hokkaido          1
1218  1219   53    Male     Kanto          1
1219  1220   32  Female     Kanto          1
1220  1221   63  Female  Kyuusyuu          5

[1221 rows x 5 columns]

データの意味
- ID: 顧客に付与されているID
- Age: 年齢
- Sex: 性別
- Address: 住所。地方レベル。
- Frequency: 購入回数

## 補足: データフレームとは？
データフレームとは表形式のデータのことで、Pythonでよく使われるデータ構造です。
- index：行のラベルを表します。今回のデータだと、0, 1, 2, 3...に相当します。(注意) Pythonは、0から始まります。
- columns：列のラベルを表します。今回のデータだと、に相当します。

## 1.3. ちらっとデータを確認することも出来ます！

In [4]:
# 最初の5行だけ表示する。()に数字を入れると、その行分表示される。
df.head()

   ID  Age     Sex   Address  Frequency
0   1   25    Male  Kyuusyuu          1
1   2   21  Female  Hokkaido          1
2   3   21  Female  Hokkaido          1
3   4   46  Female  Kyuusyuu          2
4   5   53    Male  Tyuugoku          4

In [5]:
df.head(20)

    ID  Age     Sex   Address  Frequency
0    1   25    Male  Kyuusyuu          1
1    2   21  Female  Hokkaido          1
2    3   21  Female  Hokkaido          1
3    4   46  Female  Kyuusyuu          2
4    5   53    Male  Tyuugoku          4
5    6   68  Female     Tyubu          1
6    7   25    Male     Kanto          2
7    8   26  Female     Tyubu          1
8    9   33  Female  Kyuusyuu          2
9   10   46  Female  Tyuugoku          1
10  11   28  Female     Kinki          2
11  12   37  Female     Kanto          1
12  13   35    Male    Tohoku          3
13  14   69  Female     Kanto          5
14  15   26  Female    Tohoku          1
15  16   22    Male  Tyuugoku          1
16  17   27  Female    Tohoku          1
17  18   33  Female   Shikoku          1
18  19   43  Female    Tohoku          1
19  20   43  Female     Tyubu          1

In [6]:
# 最後の5行だけ表示する。
df.tail()

        ID  Age     Sex   Address  Frequency
1216  1217   38  Female     Tyubu          1
1217  1218   35  Female  Hokkaido          1
1218  1219   53    Male     Kanto          1
1219  1220   32  Female     Kanto          1
1220  1221   63  Female  Kyuusyuu          5

## 2. データを抽出してみる。

この章では、indexやcolumns（つまり、行や列）を指定して、データを抜き取ってみましょう！

## 2.1. 列を指定してデータを抽出する。

データフレーム名.列名 とすることで、抽出出来る。

In [7]:
# Ageという列のデータを抽出する。
df.Age

0       25
1       21
2       21
3       46
4       53
5       68
6       25
7       26
8       33
9       46
10      28
11      37
12      35
13      69
14      26
15      22
16      27
17      33
18      43
19      43
20      28
21      21
22      21
23      38
24      49
25      52
26      25
27      46
28      49
29      24
        ..
1191    26
1192    23
1193    21
1194    33
1195    42
1196    24
1197    26
1198    34
1199    67
1200    46
1201    46
1202    52
1203    25
1204    21
1205    32
1206    42
1207    42
1208    63
1209    26
1210    44
1211    25
1212    26
1213    41
1214    24
1215    31
1216    38
1217    35
1218    53
1219    32
1220    63
Name: Age, Length: 1221, dtype: int64

In [8]:
# こちらのやり方もある。
df['Age']

0       25
1       21
2       21
3       46
4       53
5       68
6       25
7       26
8       33
9       46
10      28
11      37
12      35
13      69
14      26
15      22
16      27
17      33
18      43
19      43
20      28
21      21
22      21
23      38
24      49
25      52
26      25
27      46
28      49
29      24
        ..
1191    26
1192    23
1193    21
1194    33
1195    42
1196    24
1197    26
1198    34
1199    67
1200    46
1201    46
1202    52
1203    25
1204    21
1205    32
1206    42
1207    42
1208    63
1209    26
1210    44
1211    25
1212    26
1213    41
1214    24
1215    31
1216    38
1217    35
1218    53
1219    32
1220    63
Name: Age, Length: 1221, dtype: int64

### 【Try！】dfというデータフレームから、Addressという列を抽出してみよう！

In [9]:
df.Address

0       Kyuusyuu
1       Hokkaido
2       Hokkaido
3       Kyuusyuu
4       Tyuugoku
5          Tyubu
6          Kanto
7          Tyubu
8       Kyuusyuu
9       Tyuugoku
10         Kinki
11         Kanto
12        Tohoku
13         Kanto
14        Tohoku
15      Tyuugoku
16        Tohoku
17       Shikoku
18        Tohoku
19         Tyubu
20         Kanto
21         Kinki
22         Tyubu
23      Kyuusyuu
24      Kyuusyuu
25      Tyuugoku
26         Kinki
27       Shikoku
28      Tyuugoku
29         Kanto
          ...
1191       Kanto
1192       Kanto
1193       Kanto
1194       Tyubu
1195      Tohoku
1196    Kyuusyuu
1197     Shikoku
1198       Tyubu
1199       Tyubu
1200      Tohoku
1201       Kinki
1202       Kanto
1203    Kyuusyuu
1204      Tohoku
1205     Shikoku
1206      Tohoku
1207    Kyuusyuu
1208       Tyubu
1209       Kanto
1210    Kyuusyuu
1211       Kanto
1212       Kanto
1213       Kanto
1214      Tohoku
1215     Shikoku
1216       Tyubu
1217    Hokkaido
1218       Kanto
1219       Kanto
1220    Kyuusyuu
Name: Address, Length: 1221, dtype: object

## 2.2 複数の列を抽出してみる。

データフレーム名 [ ['列名１', '列名２'] ] とすることで、抽出出来る。
AgeとSexという2列を抽出してみましょう！

In [10]:
df[["Age", "Sex"]]

      Age     Sex
0      25    Male
1      21  Female
2      21  Female
3      46  Female
4      53    Male
5      68  Female
6      25    Male
7      26  Female
8      33  Female
9      46  Female
10     28  Female
11     37  Female
12     35    Male
13     69  Female
14     26  Female
15     22    Male
16     27  Female
17     33  Female
18     43  Female
19     43  Female
20     28  Female
21     21    Male
22     21  Female
23     38  Female
24     49  Female
25     52  Female
26     25  Female
27     46    Male
28     49    Male
29     24  Female
...   ...     ...
1191   26  Female
1192   23    Male
1193   21  Female
1194   33    Male
1195   42    Male
1196   24  Female
1197   26    Male
1198   34    Male
1199   67  Female
1200   46    Male
1201   46  Female
1202   52  Female
1203   25  Female
1204   21  Female
1205   32  Female
1206   42  Female
1207   42  Female
1208   63    Male
1209   26    Male
1210   44  Female
1211   25    Male
1212   26    Male
1213   41  Female
1214   24    Male
1215   31    Male
1216   38  Female
1217   35  Female
1218   53    Male
1219   32  Female
1220   63  Female

[1221 rows x 2 columns]

### 【Try！】dfというデータフレームから、AddressとFrequnecyという列を抽出してみよう！

## 3. 抽出したデータを集計してみる。

集計したいデータ.集計方法 とすることで、集計出来る。

## 3.1. 平均を出してみる。

平均を出す時は、.mean()を使用する。

年齢の平均値を出してみる。

In [11]:
df.Age.mean()

36.6994266994267

### 【Try！】購買回数（Frequency）の平均値を出してみましょう！

## 3.2. 合計を出してみる。

個数を数える時は、.sum()を使用する。

購買回数（Frequency）の合計値を出してみる。

In [12]:
df.Frequency.sum()

2189

### 【Try！】住所（Address）の合計値を出してみましょう！文字を合計するとどうなるでしょうか？

In [13]:
df.Address.sum()

'KyuusyuuHokkaidoHokkaidoKyuusyuuTyuugokuTyubuKantoTyubuKyuusyuuTyuugokuKinkiKantoTohokuKantoTohokuTyuugokuTohokuShikokuTohokuTyubuKantoKinkiTyubuKyuusyuuKyuusyuuTyuugokuKinkiShikokuTyuugokuKantoKinkiShikokuShikokuKinkiKyuusyuuTyubuKantoKyuusyuuKantoHokkaidoTyubuKyuusyuuTohokuKyuusyuuTohokuKyuusyuuKantoTyubuKinkiKyuusyuuKantoKyuusyuuHokkaidoTohokuKyuusyuuKyuusyuuKantoKyuusyuuKinkiHokkaidoTyubuTyuugokuKyuusyuuKantoTyubuKantoTyuugokuKinkiKantoHokkaidoShikokuTyubuKinkiTohokuKyuusyuuTohokuTyubuTyubuTyubuKyuusyuuTyubuHokkaidoKantoHokkaidoKinkiKantoKyuusyuuTohokuKyuusyuuKantoKyuusyuuKinkiKyuusyuuKantoShikokuTohokuKinkiTyubuKinkiKinkiKantoKinkiKyuusyuuTyuugokuKantoKyuusyuuTohokuKantoHokkaidoKyuusyuuKyuusyuuHokkaidoTohokuKantoHokkaidoHokkaidoTyuugokuKinkiKantoKantoKantoTyubuKantoKantoTohokuHokkaidoKantoTohokuKantoKyuusyuuTyuugokuKyuusyuuTohokuKantoKinkiTohokuShikokuTohokuKantoTohokuKyuusyuuShikokuKinkiKyuusyuuTyubuKantoHokkaidoKantoKantoKyuusyuuKantoKinkiKyuusyuuKinkiKyuusyuuHokkaidoKyuusyuuShikokuKantoKinkiKantoTohokuKantoKantoTyuugokuShikokuShikokuKyuusyuuTyubuKyuusyuuKinkiKantoHokkaidoKantoHokkaidoKantoTohokuTohokuKyuusyuuTohokuKantoKyuusyuuShikokuTyubuTohokuKyuusyuuTohokuTyubuTohokuHokkaidoKantoKantoShikokuKyuusyuuKantoKantoKantoTohokuKyuusyuuKantoKantoKantoKinkiKantoKantoKyuusyuuKinkiKyuusyuuKantoKyuusyuuTohokuKantoTyuugokuKantoKantoTohokuKantoKinkiKyuusyuuKyuusyuuTyubuKantoKinkiKinkiTohokuKinkiKantoKinkiHokkaidoKantoHokkaidoShikokuKantoTohokuKantoTohokuTohokuKantoTohokuKyuusyuuShikokuTohokuHokkaidoKyuusyuuKantoKantoHokkaidoKantoKyuusyuuKinkiKinkiKantoTyubuKyuusyuuTohokuKyuusyuuTohokuKantoTohokuKyuusyuuKyuusyuuTyubuKinkiKinkiKantoKantoKantoKantoKyuusyuuTyuugokuKinkiKyuusyuuTohokuShikokuKinkiKyuusyuuKyuusyuuKinkiKantoKantoKantoKantoKantoKantoKantoTohokuKantoKyuusyuuTohokuHokkaidoKinkiKantoKyuusyuuHokkaidoKinkiKinkiKantoKantoKantoShikokuKyuusyuuKantoKyuusyuuKantoKinkiKantoKyuusyuuTyuugokuKantoKantoHokkaidoKyuusyuuTyuugokuShikokuTyubuKyuusyuuKinkiKantoKinkiKinkiKyuusyuuTohokuKinkiKantoTohokuTyuugokuTyubuTyubuKyuusyuuTyuugokuHokkaidoTyubuKyuusyuuShikokuTyuugokuKyuusyuuKinkiKyuusyuuHokkaidoKinkiKantoKantoKyuusyuuTohokuKyuusyuuTohokuTohokuShikokuKantoTyuugokuKinkiKantoKyuusyuuTyubuTohokuKinkiTyuugokuTyuugokuTohokuKinkiKyuusyuuTyuugokuTohokuKantoKantoTyubuHokkaidoKyuusyuuKantoKyuusyuuKantoKinkiHokkaidoKyuusyuuHokkaidoKyuusyuuKantoKantoKyuusyuuTyubuKantoHokkaidoTyuugokuKantoKyuusyuuHokkaidoShikokuKyuusyuuTyuugokuHokkaidoTohokuTohokuKyuusyuuTohokuKantoKantoHokkaidoKyuusyuuHokkaidoShikokuKantoKantoTohokuTohokuKyuusyuuHokkaidoTohokuKinkiKantoKantoKantoTyubuKyuusyuuKantoKyuusyuuHokkaidoTyubuHokkaidoKantoKantoKyuusyuuTohokuKinkiTohokuKyuusyuuHokkaidoKantoKinkiHokkaidoTyuugokuKinkiHokkaidoKantoKyuusyuuTohokuKyuusyuuKantoTyubuTohokuKyuusyuuKinkiTohokuKantoKantoTyuugokuKyuusyuuTyuugokuKantoKyuusyuuKinkiTohokuKantoKyuusyuuKantoKyuusyuuTohokuHokkaidoKinkiKantoKantoKantoKinkiHokkaidoKantoKinkiHokkaidoTyuugokuKantoKyuusyuuKyuusyuuKyuusyuuKantoKantoTohokuKantoKantoTyuugokuTohokuShikokuTohokuKyuusyuuKinkiKyuusyuuKinkiHokkaidoShikokuKyuusyuuShikokuKinkiKyuusyuuKantoTohokuKantoKyuusyuuKyuusyuuTohokuKyuusyuuTohokuKantoKinkiKinkiTohokuHokkaidoKinkiKantoShikokuKantoKyuusyuuTyubuHokkaidoTohokuKantoKinkiKinkiTohokuTohokuKantoTyuugokuKyuusyuuHokkaidoTyuugokuTyubuHokkaidoKantoShikokuKantoKyuusyuuKinkiKantoKantoTyuugokuKinkiKinkiTyuugokuKantoKinkiTohokuTohokuKyuusyuuHokkaidoTohokuHokkaidoKinkiKantoKantoKyuusyuuTohokuTyuugokuKinkiKinkiKyuusyuuHokkaidoKinkiKyuusyuuKantoKantoTohokuTohokuHokkaidoShikokuKantoKantoKantoKantoKyuusyuuKantoShikokuTohokuKantoKinkiKyuusyuuTyuugokuKyuusyuuKyuusyuuHokkaidoKinkiTyuugokuKantoShikokuTohokuKantoKantoKantoTohokuKinkiKinkiKantoKyuusyuuTyubuKyuusyuuKyuusyuuTyubuKyuusyuuShikokuKyuusyuuKyuusyuuTyuugokuKinkiKyuusyuuShikokuKyuusyuuKantoKyuusyuuKantoHokkaidoKyuusyuuKyuusyuuTyubuKantoKinkiKantoKantoShikokuTyubuKyuusyuuKantoKantoTyubuKinkiTyuugokuTyuugokuShikokuHokkaidoTohokuKantoTyubuTohokuShikokuKyuusyuuTyubuKyuusyuuHokkaidoKantoTyubuKantoKyuusyuuShikokuKyuusyuuKantoKyuusyuuKinkiKantoKantoKinkiShikokuKyuusyuuHokkaidoTohokuHokkaidoKantoTyuugokuKinkiKinkiKinkiKinkiKantoKantoTyubuKantoKantoKantoKantoKinkiKinkiKyuusyuuKantoKantoKyuusyuuTohokuTyuugokuKantoTyuugokuHokkaidoHokkaidoKantoHokkaidoHokkaidoKyuusyuuKantoKyuusyuuHokkaidoKantoHokkaidoKinkiTohokuHokkaidoKantoKantoShikokuTyuugokuHokkaidoKyuusyuuTohokuHokkaidoKyuusyuuKyuusyuuTyubuKantoTohokuKyuusyuuKinkiHokkaidoKantoKantoTohokuKantoKantoTyubuKyuusyuuKantoShikokuShikokuShikokuHokkaidoTohokuKyuusyuuKantoKyuusyuuTyuugokuTohokuKantoKantoKantoKantoShikokuKyuusyuuKyuusyuuKantoTyubuKyuusyuuTohokuKinkiKantoTyuugokuKyuusyuuKyuusyuuKyuusyuuKyuusyuuKantoTyubuKinkiTohokuKantoHokkaidoKantoKyuusyuuKinkiKantoTyubuHokkaidoTohokuKantoKantoKantoKantoTohokuKantoTyuugokuKyuusyuuKyuusyuuHokkaidoKyuusyuuTyubuKantoHokkaidoKantoKantoTyuugokuKinkiTyuugokuKinkiKantoTohokuKantoKinkiShikokuKinkiKantoTohokuTyubuKantoKinkiTyuugokuKinkiKantoShikokuTohokuShikokuHokkaidoKyuusyuuKyuusyuuShikokuKantoKyuusyuuTohokuKantoShikokuKyuusyuuKantoKantoKantoTyubuKyuusyuuKantoKyuusyuuKantoKinkiTyubuKantoKyuusyuuShikokuTohokuTyubuKantoShikokuTyubuKyuusyuuKantoKantoKantoKyuusyuuTohokuKantoKantoShikokuTohokuKyuusyuuKantoKantoTyuugokuTohokuTyubuTyubuTohokuHokkaidoKinkiTyubuTyubuKantoKyuusyuuKyuusyuuHokkaidoKyuusyuuKantoShikokuKantoTohokuTyuugokuKantoTohokuTohokuShikokuKantoKantoKyuusyuuTyuugokuKinkiKinkiTyubuKinkiKinkiTohokuKantoKyuusyuuKantoKinkiKyuusyuuShikokuKantoKantoKantoKyuusyuuShikokuKyuusyuuKantoTohokuKyuusyuuHokkaidoTyubuKantoKantoKantoTohokuKyuusyuuKinkiHokkaidoKantoKantoKyuusyuuKyuusyuuKantoKantoKinkiTohokuShikokuKinkiKantoKyuusyuuShikokuHokkaidoKyuusyuuKantoKantoKantoTyubuKantoKinkiKinkiTohokuKyuusyuuShikokuHokkaidoKantoTohokuKinkiKantoTyubuKantoTohokuTyuugokuKantoTyuugokuTyuugokuKantoHokkaidoKinkiKyuusyuuKyuusyuuKantoKantoKinkiKyuusyuuKinkiKantoKantoKinkiTohokuKantoKinkiKantoTohokuKinkiTyuugokuKantoKantoKantoKantoKinkiTohokuShikokuKyuusyuuKinkiKinkiTohokuKantoKyuusyuuHokkaidoKantoKantoKyuusyuuTyuugokuTohokuKinkiKyuusyuuKantoKinkiKyuusyuuKyuusyuuTyubuKantoTyubuKinkiTyuugokuKinkiKyuusyuuKinkiHokkaidoTohokuShikokuKantoKantoKyuusyuuKantoKyuusyuuTyuugokuKantoKantoKinkiTohokuKantoTyubuKantoKinkiKyuusyuuKantoKyuusyuuKinkiKyuusyuuKinkiKantoKinkiTyuugokuKantoKyuusyuuKantoTohokuTyuugokuKyuusyuuKantoTohokuKyuusyuuTohokuKyuusyuuKantoKantoHokkaidoKyuusyuuKyuusyuuKantoTyuugokuTohokuKinkiHokkaidoKantoKinkiKyuusyuuKinkiKinkiKantoKinkiTohokuKyuusyuuKantoKyuusyuuKinkiKantoTohokuTohokuKantoShikokuShikokuTohokuKyuusyuuKantoTohokuKyuusyuuKantoTohokuKyuusyuuKyuusyuuKinkiHokkaidoTohokuKantoKyuusyuuTyubuKantoKantoKinkiKantoKantoKantoKinkiKantoKantoHokkaidoKantoKyuusyuuKinkiTohokuKantoTyubuKantoTyuugokuKinkiKyuusyuuTohokuShikokuKantoKinkiKyuusyuuShikokuTohokuKantoKinkiTohokuKantoHokkaidoKinkiHokkaidoTyubuTyuugokuKantoHokkaidoKantoTohokuKinkiHokkaidoKyuusyuuKyuusyuuTyuugokuTyubuTyuugokuTyuugokuShikokuKantoTohokuKantoKyuusyuuKyuusyuuKyuusyuuKantoKinkiTohokuKyuusyuuKyuusyuuKyuusyuuKantoKantoTyubuKantoHokkaidoHokkaidoKantoKyuusyuuKantoKyuusyuuKantoHokkaidoTohokuKantoTyubuKyuusyuuTyuugokuKantoTohokuTohokuTyuugokuKyuusyuuTohokuKinkiKinkiKyuusyuuTyuugokuHokkaidoTohokuKyuusyuuKyuusyuuTohokuKantoKantoTohokuKantoTohokuTyubuKyuusyuuKyuusyuuKantoHokkaidoKantoHokkaidoKyuusyuuKinkiHokkaidoKantoKinkiTyuugokuKantoKantoTyuugokuTyubuKantoKyuusyuuKinkiTyubuKyuusyuuKyuusyuuTyubuKyuusyuuTyubuShikokuTyubuKyuusyuuTyuugokuKyuusyuuKinkiHokkaidoKantoKantoKantoTohokuKantoKantoKantoTyubuTohokuKyuusyuuShikokuTyubuTyubuTohokuKinkiKantoKyuusyuuTohokuShikokuTohokuKyuusyuuTyubuKantoKyuusyuuKantoKantoKantoTohokuShikokuTyubuHokkaidoKantoKantoKyuusyuu'

## 4. データをグループごとに集計する。

性別ごとに集計してみましょう！
グループごとに同じ操作を加えたい時は、groupby().操作名というコードを使います。

今回は性別ごとの平均値を出してみましょう！

In [14]:
df.groupby('Sex').mean()

                ID        Age  Frequency
Sex
Female  607.624700  37.218225   1.793765
Male    618.273902  35.581395   1.790698

ここから、性別ごとの平均年齢を抽出したい場合は…

In [15]:
df.groupby('Sex').mean().Age

Sex
Female    37.218225
Male      35.581395
Name: Age, dtype: float64

### 【Try！】住所（Address）ごとの合計値を出してみましょう。

このgroupbyメソッドは、月ごとの売上や購入頻度の平均、合計値等の情報が欲しい！時にも使います。

## 以上です。お疲れ様でした！次のデータ分析も楽しみましょう！